header{
      font-size: 2.5em;
      }
      .navbar {
            display: flex;
            position: sticky;
            align-items: center;
            align-self:center;
            justify-content: space-between;
            top: 0px;
            background: #77b372;
            background-blend-mode: darken;
            background-size: cover;
            color: white;
            padding: 10px 20px;
        }
      .nav-list {
            display: flex;
            list-style: none;
            align-items: center;
        }

        .nav-list li {
            margin-right: 20px;
            padding: 5px;
            border-radius: 20px;
            background: white;
        }

        .nav-list li:last-child {
            margin-right: 0;
        }
      .nav-list li a {
            text-decoration: none;
            color: black;
            font-size: 18px;
            transition: color 0.3s ease-in-out;
        }

        .nav-list li:hover {
            color: #4e754b;
            /* Change the color on hover */
        }
